*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#logout {
    float: right;
}

#edit_profile{
    float:right;
}
body{
    background-color: black;
    align-content: center;
}

h1 {
    text-align: center;
    color: #eeee;
    font-size: xxx-large;
    margin: 20px 0px 20px 225px;
}

.container table {
    margin: 0 auto;
    padding-top: 15px;
}

td{
    color: #eeee
}

.table td {
    text-align: center;
    padding: 2px 10px;
    border: 1px #eeee solid;
}

ul {
    margin: 0 10px;
    text-align: left;
}

th {
    background-color: #8bd6c7;
}

a {
    color: #2F6B12;
    text-decoration: none;
    margin: 15px;
}
a:hover{
    color: #1b8f85;
}

.container {
    background-color: #8888;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding-bottom: 40px;
}

hr {
    margin: 20px 0px;
    position: absolute;
    left: 7.5%;
    width: 85%;
}

div.container h2 {
    margin-top: 30px;
    text-align: center;

}

div.add_players {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}


.button {
    padding: 1px 3px;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 2px;
}