*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #eeee;
    font-size: xxx-large;

}
#navigation {
    text-align: center;
}
a{
    color: #2F6B12;
    text-decoration: none;
    margin: 15px;
}
a:hover{
    color: #1b8f85;
}

#login {
    float: right;
}

#register{
    float:left;
}

body{
    background-color: black;
    align-content: center;

}
.container {
    position: sticky;
    background-image: url("/static/images/illidan.jpg");
    background-size: cover;
    margin: 0 auto;
    height: 650px;
    width: auto;

}
.navigation a{
    display: flex;
    justify-content: space-between;
}
h1 {
    text-align: center;
    font-size: xxx-large;

}

.card {
    display: flex;
    justify-content: center;
}

.card img {
    left: 50%;
}

.card > form > input {
    margin-top: 25px;
    top: 50%;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 2px;
}