<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilds</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/guild_roster.css' %}">
</head>
<body>
    <div class="navigation">
        <a href="logout" id="logout">Logout</a>
        <a href="edit_profile" id="edit_profile">Edit Profile </a> 
        <h1>FRANKFORT WURLD</h1>
    </div>
    <div class="container">
        <table class="table">
            <tr>
                <th>Character Name</th>
                <th>Level</th>
                <th>Class</th>
                <th>Rank</th>
                <th>Attunements</th>
            </tr>
            <td>SKbenji</td>
            <td>70</td>
            <td>Warrior</td>
            <td>Guild Master</td>
            <td>
                <ul>
                    <li>Serpentshrine Cavern</li>
                    <li>Karazhan</li>
                </ul>
            </td>
        </table>
        <hr>
        <div class="edit_nav">
            <form action="view_progression">
                <input type="submit" value="View Progression" id="view_prog" class="button">
            </form>
            <form action="edit">
                <input type="submit" value="Add/Edit Guild Members" class="button">
            </form>
        </div>
        
    </div>
</body>
</html>