<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karazhan</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/karazhan.css' %}">
</head>
<body>
    <h1>TBC PREP</h1>
    <div class="container">
        <h2>Karazhan</h2>
        <div class="intro">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil porro dolorem est atque commodi earum expedita modi quae? Doloremque placeat itaque dolore laudantium repellat adipisci tenetur ipsam saepe, molestias nisi.</p>
        </div>
        <div class="bottom_half">
            <div class="bosses">
                <h2>Bosses:</h2>
            </div>
            <div class="loot">
                <div class="loot_list">
                    <ul>
                        <li><a href="/claw">Claw of the Phoenix</a></li>
                        <li><a href="/ashes">Ashes of Al'ar</a></li>
                        <li><a href="/world">Worldstorm Gauntlets</a></li>
                        <li><a href="/heartrazor">Heartrazor</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>