<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Profile</title>
    <script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true, droppedby: true};</script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>
</head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/player_profile.css' %}">
<body>
    <div class="navigation">
        <a href="logout" id="logout">Logout</a>
        <a href="edit_profile" id="edit_profile">Edit Profile </a> 
        <h1>TBC PREP</h1>
    </div>
    <div class="container">
        <div class="nameplate_progression">
            <div class="nameplate">
                <h1>SKbenji</h1>
                <h2>Level: 60</h2>
                <h2>Warrior</h2>
            <div class="wishlist">
            <h3>Wishlist:</h3>
                <div class="items">
                    <ul>
                        <li><a href="https://tbc.wowhead.com/item=29948">[Claw of the Phoenix]</a></li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="progression">
                <h3>Progression</h3>
                <div class="raids">
                    <ul>
                        <li>Karazhan (11/11)</li>
                        <li>Serpentshrine Cavern (6/6)</li>
                        <li>Tempest Keep: The Eye (3/4)</li>
                    </ul>
                </div>
                <div class="attunement_progress">
                    <h3>Attunement Progress</h3>
                        <div class="attunements">
                            <a href="/karazhan">Karazhan</a> &#8594; <a href="/raid/1">Serpentshrine Cavern</a> &#8594; <a href="raid/2">Tempest Keep</a>
                        </div>
                </div>
                <div class="guild_card">
                    <h2><a href="/guild/0/roster">Frankfurt Wurld</a></h2>
                    <h3>Members: 108</h3>
                    <h3>Rank: Guild Leader</h3>
                    <h3>Member Since: 11/23/2004</h3>
                    <a href="/boot">Kick</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>